  <form (ngSubmit)="applyFilters()" #filterForm="ngForm">
    <div>
      <mat-expansion-panel data-name="orderFilter">
        <mat-expansion-panel-header>
            <mat-panel-title>{{ 'cockpit.filter' | transloco }}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="formRow">
          <div class="formMobileRow">
            <mat-form-field color="accent" class="searchBy">
              <input matInput [placeholder]="'formFields.email' | transloco" [(ngModel)]="filters.email" name="email">
            </mat-form-field>
            <mat-form-field color="accent" class="searchBy">
              <input matInput [placeholder]="'formFields.referenceNumber' | transloco" [(ngModel)]="filters.bookingToken" name="bookingToken">
            </mat-form-field>
          </div>
          <div class="formDesktopRow">
            <mat-form-field color="accent" class="searchBy">
              <input matInput [placeholder]="'formFields.email' | transloco" [(ngModel)]="filters.email" name="email">
            </mat-form-field>
            <mat-form-field color="accent" class="searchBy">
              <input matInput [placeholder]="'formFields.referenceNumber' | transloco" [(ngModel)]="filters.bookingToken" name="bookingToken">
            </mat-form-field>
          </div>
        </div>
        <div class="align-right">
          <button class="orderClearFilters" name="orderClearFilters" mat-button type="button" (click)="clearFilters(filterForm)">{{'buttons.clearFilters' | transloco}}</button>
          <button class="orderApplyFilters" name="orderApplyFilters" mat-button type="submit" color="accent">{{'buttons.applyFilters' | transloco}}</button>
        </div>
      </mat-expansion-panel>
    </div>
  </form>
  <mat-progress-bar
    *ngIf="!orders"
    color="accent"
    mode="indeterminate">
  </mat-progress-bar>
  <mat-card>
    <mat-card-title>{{'cockpit.orders.title' | transloco}}</mat-card-title>
    <mat-divider></mat-divider>

    <div class="tableContainer">
      <table mat-table [dataSource]="orders" matSort (matSortChange)="sort($event)">

        <!-- Date Column -->
        <ng-container matColumnDef="booking.bookingDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[0].label}} </th>
          <td mat-cell *matCellDef="let element"> {{element.booking.bookingDate|amFromUnix|amDateFormat:'lll'}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="booking.name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[1].label}} </th>
          <td mat-cell *matCellDef="let element"> {{element.booking.name}} </td>
        </ng-container>

        <!-- Table Column -->
        <ng-container matColumnDef="booking.table">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[2].label}} </th>
          <td mat-cell *matCellDef="let element"><span class="tableNrField">{{element.booking.tableId}}</span></td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="buttons.edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[3].label}} </th>
          <td mat-cell *matCellDef="let element" >
            <button  class="orderEditButton" name="orderEditButton" mat-button type="button" (click)="selectedEdit(element, $event); " [disabled]="element.order.orderState != 'orderTaken' || element.order.paymentState != 'pending'">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Payment State Column -->
        <ng-container matColumnDef="booking.paymentState">
          <th mat-header-cell *matHeaderCellDef> {{columns[4].label}} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="accent" *ngIf="element.order.paymentState == 'paid'" (click)="$event.stopPropagation()"><mat-icon>check</mat-icon></button>
            <button class="payOrderButton" name="payOrderButton" mat-button color="warn" (click)="payBill(element, $event);" *ngIf="element.order.paymentState == 'pending'"><mat-icon>money_off</mat-icon></button>
          </td>
        </ng-container>

        <!-- Order State Column -->
        <ng-container matColumnDef="booking.orderState">
          <th mat-header-cell *matHeaderCellDef> {{columns[5].label}} </th>
          <td mat-cell *matCellDef="let element">
            <mat-button-toggle-group (click)="updateOrderState(element, button, $event)" class="orderStateButton" #button>
              <span class="orderStateButtonTaken" *ngIf="element.order.orderState == 'orderTaken'"><mat-icon class="state_switch_icon">redo_icon</mat-icon></span>
              <span class="orderStateButtonDelivered" *ngIf="element.order.orderState == 'orderDelivered'"><mat-icon class="state_switch_icon">redo_icon</mat-icon></span>
              <span class="orderStateButtonLabel">{{ 'cockpit.orderStates.' + element.order.orderState + 'H' | transloco }}</span>
            </mat-button-toggle-group>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selected(row);"></tr>

      </table>
    </div>

    <button mat-button id="openNewOrderDialogButton" color="accent" (click)="openNewOrderDialog()"><mat-icon>assignment</mat-icon><mat-icon>add</mat-icon> {{'buttons.addPosition' | transloco}}</button>

    <div class="property-text-center noResults" *ngIf="orders.length===0">
      <h3>{{'table.noResults' | transloco}}.</h3>
    </div>
    <mat-paginator #pagingBar [length]="totalOrders" [pageSize]="pageSize" [pageSizeOptions]="pageSizes" [showFirstLastButtons]="true" (page)="page($event)">
    </mat-paginator>
  </mat-card>

