
      <form (ngSubmit)="signInSubmit(signForm.form.value)" #signForm="ngForm" [formGroup]="createForm">
        <div class="formFields">
          <div>
            <mat-form-field color="accent">
              <input formControlName="username"  matInput [placeholder]="'formFields.username' | transloco" ngModel name="username"  required >
            </mat-form-field>
          </div>
          <div>
            <mat-form-field color="accent">
              <input formControlName="email"  matInput [placeholder]="'formFields.email' | transloco" ngModel name="email"  required validateEmail>
              <mat-error>{{'userArea.emailError' | transloco}}</mat-error>
            </mat-form-field>
          </div>
  
          <div>
            <mat-form-field color="accent">
              <input matInput formControlName="password" type="password" name="password" [placeholder]="'formFields.password' | transloco"  required  ngModel>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field color="accent">
              <input matInput formControlName="confirmPassword" type="password" name="confirmPassword"  [placeholder]="'formFields.confirmPassword' | transloco" ngModel required >
              <mat-error>{{'alerts.passwordError' | transloco}}</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill" >
              <mat-label>Role</mat-label>
              <mat-select [(value)]="selected" formControlName="role" required >
                <mat-option>None</mat-option>
                <mat-option value="waiter">waiter</mat-option>
                <mat-option value="manager">manager</mat-option>
                <mat-option value="admin">admin</mat-option>
                <mat-option value="guest">user</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
         
        </div>

        <div class="align-right">
          <button name="cancelSignUp" mat-button (click)="closeLoginDialog()">{{'buttons.cancel' | transloco | uppercase}}</button>
          <button name="registerSubmit" mat-button type="submit" [disabled]="!(signForm.form.valid && selected && passwordIdentical())" (click)="submitCreationData()" color="accent">{{'buttons.create' | transloco | uppercase}}</button>
        </div>
      </form>
