.formRow {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    font-size: 16px;
  }
  
  .formDesktopRow {
    flex: 1;
    justify-content: space-around;
    align-items: center;
  
    .searchBy {
      flex: 1;
      padding: 8px;
    }
  }
  
  .formMobileRow {
    flex: 1;
    align-items: center;
  }
  
  form button,
  mat-card-title {
    text-transform: uppercase;
  }
  
  .tableContainer {
    width: 100%;
    overflow: auto;
  }
  
  table {
    width: 100%;
    min-width: 600px;
  }
  
  th {
    width: 33.33%;
    font-weight: bold;
  }
  
  td.mat-cell {
    min-width: 100px;
  }
  
  td:not(:nth-child(1)) {
    word-break: break-all;
  }
  
  .noResults {
    padding: 16px;
  }
  
  .orderStateButton {
    border: none;
    width: 150px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-align: left;
    line-height: 36px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
    padding: 0;
    overflow: hidden;
  }
  
  .orderStateButtonLabel {
    padding: 0% 10% 0% 10%;
  }
  
  .orderStateButtonTaken {
    background-color: grey;
  }
  
  .orderStateButtonDelivered {
    background-color: green;
  }
  
  .orderStateButton:hover {
    cursor: pointer;
  }
  
  @media (max-width: 599px) {
    .forDesktop {
      display: none;
    }
    .searchBy {
      width: 100%;
    }
    .formDesktopRow {
      display: none;
    }
    .formMobileRow {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (min-width: 600px) {
    .forMobile {
      display: none;
    }
    .sortingBy {
      width: 30%;
    }
    .searchBy {
      width: 30%;
    }
    .formDesktopRow {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
    }
    .formMobileRow {
      display: none;
    }
  }
  