


<mat-card>
  <mat-card-title>{{'cockpit.users.title' | transloco}}</mat-card-title>
  <br>
  <button mat-button type="button">All</button>
  <button mat-button type="button">Managers</button>
  <button mat-button type="button">Waiters</button>
  <button mat-button type="button">Guests</button>

  <br><br>

  <mat-divider></mat-divider>
  <div class="tableContainer">
    <table mat-table [dataSource]="users" > <!--matSort (matSortChange)="sort($event)"> -->

      <!-- Email Column -->
      <ng-container matColumnDef="userLine.email" matSort>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> HHHH</th>
        <td mat-cell *matCellDef="let element" (click)="printElement(element)"> MMMM</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

</mat-card>

