


<mat-card>
  <mat-card-title>{{'cockpit.users.title' | transloco}}</mat-card-title>
  <br>
  <button class="loadUsers" name="loadUsers" mat-button type="button" (click)="loadUsers()">{{'buttons.all' | transloco }}</button>
  <button class="loadAdmins" name="loadAdmins" mat-button type="button" (click)="loadUsersByRole(3)">{{'buttons.admins' | transloco }}</button>
  <button class="loadManagers" name="loadManagers" mat-button type="button" (click)="loadUsersByRole(2)">{{'buttons.managers' | transloco }}</button>
  <button class="loadWaiters" name="loadWaiters" mat-button type="button" (click)="loadUsersByRole(1)">{{'buttons.waiters' | transloco }}</button>
  <button class="loadGuests" name="loadGuests" mat-button type="button" (click)="loadUsersByRole(0)">{{'buttons.guests' | transloco }}</button>
  <br><br>

  <mat-divider></mat-divider>
  <div class="tableContainer">
    <table mat-table [dataSource]="users" matSort >  <!--(matSortChange)="sort($event)"> -->

      <!-- Email Column -->
      <ng-container matColumnDef="userView.email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns[0].label}}</th>
        <td mat-cell *matCellDef="let element"> {{ element.email }}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="userView.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns[1].label}}</th>
        <td mat-cell *matCellDef="let element"> {{ element.username }} </td>
      </ng-container>
      <!-- Role Column -->
      <ng-container matColumnDef="userView.role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns[2].label}}</th>
        <td mat-cell *matCellDef="let element">{{'cockpit.users.rolesH.' + element.userRoleId | transloco}}</td>
      </ng-container>
      <!-- Reset Password Column -->
      <ng-container matColumnDef="userView.setNewPassword">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns[3].label}}</th>
        <td mat-cell *matCellDef="let element" > <button  mat-button type="button" (click)="$event.stopPropagation(); resetNewPassword(element)">
          <mat-icon>lock</mat-icon>
        </button></td>
      </ng-container>

         <!-- Email For Reset Password Column -->
         <ng-container matColumnDef="userView.sendResetMail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns[4].label}}</th>
          <td mat-cell *matCellDef="let element" > <button  mat-button type="button" (click)="$event.stopPropagation(); sendEmailForPasswordReset(element)">
            <mat-icon>email</mat-icon>
          </button></td>
        </ng-container>

           <!-- Delete User Column -->
      <ng-container matColumnDef="userView.deleteUser">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns[5].label}}</th>
        <td mat-cell *matCellDef="let element" > <button  mat-button type="button" (click)="$event.stopPropagation(); deleteUser(element)" [disabled]="element.userRoleId == 3" >
          <mat-icon>delete_forever</mat-icon>
        </button></td>
      </ng-container>
     

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <button mat-button color="accent" (click)="createUserDialog()" ><mat-icon>add_circle_outline</mat-icon> {{'cockpit.users.newUserH' | transloco}}</button>
  </div>
  <div class="property-text-center noResults" *ngIf="users.length===0">
    <h3>{{'table.noResults' | transloco}}.</h3>
  </div>
  <mat-paginator #pagingBar [length]="totalUsers" [pageSize]="pageSize" [pageSizeOptions]="pageSizes" [showFirstLastButtons]="true" (page)="page($event)">
  </mat-paginator>

</mat-card>

