<mat-card>
  <mat-card-title>{{'cockpit.users.title' | transloco}}</mat-card-title>
  <br>

  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      routerLink="/usermanagement/all"
      routerLinkActive="activeLink"
    >
      {{ 'cockpit.users.navigationH.allH' | transloco }}
    </a>
    <a
      mat-tab-link
      class="filterCostumers"
      name="filterCostumers"
      routerLink="/usermanagement/customers"
      routerLinkActive="activeLink"
    >
      {{ 'cockpit.users.navigationH.customersH' | transloco }}
    </a>
    <a
      mat-tab-link
      class="filterWaiters"
      name="filterWaiters"
      routerLink="/usermanagement/waiters"
      routerLinkActive="activeLink"
    >
      {{ 'cockpit.users.navigationH.waitersH' | transloco }}
    </a>
    <a
      mat-tab-link
      class="filterManagers"
      name="filterManagers"
      routerLink="/usermanagement/managers"
      routerLinkActive="activeLink"
    >
      {{ 'cockpit.users.navigationH.managersH' | transloco }}
    </a>
    <a
      mat-tab-link
      class="filterAdmins"
      name="filterAdmins"
      routerLink="/usermanagement/admins"
      routerLinkActive="activeLink"
    >
      {{ 'cockpit.users.navigationH.adminsH' | transloco }}
    </a>
  </nav>

  <br>

  <div class="tableContainer">
    <table mat-table [dataSource]="users" matSort >  <!--(matSortChange)="sort($event)"> -->

      <!-- Email Column -->
      <ng-container matColumnDef="userView.email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns[0].label}}</th>
        <td mat-cell *matCellDef="let element"> {{ element.email }}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="userView.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns[1].label}}</th>
        <td mat-cell *matCellDef="let element"> {{ element.username }} </td>
      </ng-container>
      <!-- Role Column -->
      <ng-container matColumnDef="userView.role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns[2].label}}</th>
        <td mat-cell *matCellDef="let element">{{'cockpit.users.rolesH.' + element.userRoleId | transloco}}</td>
      </ng-container>
      <!-- Reset Password Column -->
      <ng-container matColumnDef="userView.setNewPassword">
        <th mat-header-cell *matHeaderCellDef>{{columns[3].label}}</th>
        <td mat-cell *matCellDef="let element" >
          <button  mat-button  class="resetPasswordButton" name="resetPasswordButton" color="default" (click)="setNewPassword(element)">
            <mat-icon>lock</mat-icon>
          </button>
        </td>
      </ng-container>
      <!-- Email For Reset Password Column -->
      <ng-container matColumnDef="userView.sendResetMail">
        <th mat-header-cell *matHeaderCellDef>{{columns[4].label}}</th>
        <td mat-cell *matCellDef="let element" >
          <button  mat-button color="default" class="sendResetLinkButton" name="sendResetLinkButton" (click)="sendEmailForPasswordReset(element)" [disabled]="(auth.getUser() | async) == element.username">
            <mat-icon>email</mat-icon>
          </button>
        </td>
      </ng-container>
      <!-- Delete User Column -->
      <ng-container matColumnDef="userView.deleteUser">
        <th mat-header-cell *matHeaderCellDef>{{columns[5].label}}</th>
        <td mat-cell *matCellDef="let element" >
          <button  mat-button color="warn" class="deleteUserButton" (click)="deleteUser(element)" [disabled]="(auth.getUser() | async) == element.username" >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <button mat-button color="accent" id="newUserButton" class="createUserButton" name="createUserButton" (click)="createUserDialog()" ><mat-icon>add_circle_outline</mat-icon> {{'cockpit.users.newUserH' | transloco}}</button>
  </div>
  <div class="property-text-center noResults" *ngIf="users.length===0">
    <h3>{{'table.noResults' | transloco}}.</h3>
  </div>
  <mat-paginator #pagingBar [length]="totalUsers" [pageSize]="pageSize" [pageSizeOptions]="pageSizes" [showFirstLastButtons]="true" (page)="page($event)">
  </mat-paginator>

</mat-card>
