table {
    width: 100%;
    min-width: 600px;
  }

td.mat-cell {
  min-width: 20%;
}

.mat-form-field {
  max-width: 50px;
  width: 50px;
}

.mat-row:nth-child(odd) {
  background-color: #f5f0ef;
}

.mat-row {
  height: 65px;
}

.mat-icon {
  display: inline-block;
  margin-left: 5px;
}

.mat-slide-toggle {
  margin-left: 20px;
}

th {
  font-weight: bold;
}