table {
    width: 100%;
    min-width: 600px;
  }

td.mat-cell {
  min-width: 20%;
}

.mat-form-field {
  max-width: 50px;
  width: 50px;
}

.mat-row:nth-child(odd) {
  background-color: #f5f0ef;
}

.mat-row {
  height: 65px;
}